*{
    box-sizing: border-box;
}


.banner{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    position: top;
}







