#header{
    background-color: rgba(245, 222, 179, .8);
    color: rgba(139, 0, 0, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#profile{
    background-color: rgba(152, 251, 152, 1);
}

#contact{
    background-color: rgba(152, 251, 152, 1);
}

#portfolio{
    background-color: rgba(173, 255, 47, 1);
}

.right{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(139, 0, 0, 1);
    width: 200;
    height: 100;
    text-align: center;
}


body{
    background-image: url("../images/forks.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-size: cover;
}